@media (min-width:1200px){

    *{
        font-family: 'Ubuntu', sans-serif;
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #90CBF0;
    }

    header{
        display: flex;
    }


    /*Cabeçaho*/
    #cabecalho {
        color: white;
        display: flex;
        flex-direction: column;
        columns: 360px;
        width: 40vw;
        padding: 0 5vw;
        height: 75vh;
    }

    header img{
        margin-left: 4vw;
    }

    #cabecalho h1{
        position: relative;
        top: 20vh;

        font-size: 50px;
        font-weight: bolder;
    }

    #cabecalho p{
        position: relative;
        top: 22vh;

        font-size: 27px;
        margin-top: 20px;
    }


    /*Botões*/

    .button a {
        margin-left: 5vh;
    }

    .button a#estudar{
        margin-left: 10vh;
    }


    .button a img:active{
        position: relative;
        top: 10px;
    }

    .button a img:hover{
        position: relative;
        bottom: 5px;
        cursor: pointer;
    }

    /* Icones */

    .icons{
        display: flex;
        position: absolute;
        right: 6vw;
        bottom: 40px;
    }

    .icons a{
        margin-left: 10px;
    }

    .icons h5{
        color: white;
        font-size: 20px;

    }
}



@media (max-width:500px) and (min-height:800px){
    *{
        font-family: 'Ubuntu', sans-serif;

    }

    html, body {
        overflow: hidden;
    }

    body{
        background-color: #90CBF0;
        
    }


    .icons,header,cabecalho{
        display: flex;
        color: white;
    }


    header img{
        visibility: hidden;
    }

    

    #cabecalho h1{
        position: relative;
        left: 25vw;

        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        
        
    }

    #cabecalho p{
        position: relative;
        display: block;
        left: 25vw;
        margin-bottom: 20px;

        text-align: center;
        font-size: 20px;
        
        
    }

    .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .button a{
        display: inline;
        
    }

    .button a img{
        width: 60vw;
    }

    .icons{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 20px;
    }

    .icons h5{
        color: white;
        font-size: 17px;
        margin: 10px;
    }

   
}

@media (max-height:640px){
    *{
        font-family: 'Ubuntu', sans-serif;

    }
    
    
    
    html , body  {
        overflow: auto;
    }    


    body{
        background-color: #90CBF0;
        
    }


    .icons,header,cabecalho{
        display: flex;
        color: white;
    }


    header img{
        visibility: hidden;
    }

    

    #cabecalho h1{
        position: relative;
        left: 25vw;

        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        
        
    }

    #cabecalho p{
        position: relative;
        display: block;
        left: 25vw;
        margin-bottom: 20px;

        text-align: center;
        font-size: 20px;
        
        
    }

    .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .button a{
        display: inline;
        
    }

    .button a img{
        width: 60vw;
    }

    .icons{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 20px;
    }

    .icons h5{
        color: white;
        font-size: 17px;
        margin: 10px;
    }
}

@media (min-height:1200px){
    *{
        font-family: 'Ubuntu', sans-serif;
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #90CBF0;
    }

    header{
        display: flex;
    }


    /*Cabeçaho*/
    #cabecalho {
        color: white;
        display: flex;
        flex-direction: column;
        columns: 360px;
        width: 40vw;
        padding: 0 5vw;
        height: 75vh;
    }

    header img{
        margin-right: 15vw;
        width: 50vw;
    }

    #cabecalho h1{
        position: relative;
        top: 20vh;

        font-size: 50px;
        font-weight: bolder;
    }

    #cabecalho p{
        position: relative;
        top: 22vh;

        font-size: 27px;
        margin-top: 20px;
    }


    /*Botões*/

    .button a {
        margin-left: 5vh;
    }

    .button a#estudar{
        margin-left: 10vh;
    }


    .button a img:active{
        position: relative;
        top: 10px;
    }

    .button a img:hover{
        position: relative;
        bottom: 5px;
        cursor: pointer;
    }

    /* Icones */

    .icons{
        display: flex;
        position: absolute;
        right: 6vw;
        bottom: 40px;
    }

    .icons a{
        margin-left: 10px;
    }

    .icons h5{
        color: white;
        font-size: 20px;

    }
}


@media (min-height:760px) and (width:1024px){
    *{
        font-family: 'Ubuntu', sans-serif;
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #90CBF0;
    }

    header{
        display: flex;
    }


    /*Cabeçaho*/
    #cabecalho {
        

        color: white;
        display: flex;
        flex-direction: column;
        columns: 360px;
        width: 40vw;
        padding: 0 5vw;
        height: 75vh;
    }

    header img{
        margin-right: 15vw;
        width: 50vw;
    }

    #cabecalho h1{
        position: relative;
        top: 2vh;

        font-size: 50px;
        font-weight: bolder;
    }

    #cabecalho p{
        position: relative;
        top: 2vh;

        font-size: 27px;
        margin-top: 20px;
    }


    /*Botões*/

    .button a {
        margin-left: 5vh;
    }

    .button a#estudar{
        margin-left: 10vh;
    }


    .button a img:active{
        position: relative;
        top: 10px;
    }

    .button a img:hover{
        position: relative;
        bottom: 5px;
        cursor: pointer;
    }

    /* Icones */

    .icons{
        display: flex;
        position: absolute;
        right: 6vw;
        bottom: 40px;
    }

    .icons a{
        margin-left: 10px;
    }

    .icons h5{
        color: white;
        font-size: 20px;

    }
}


@media (min-height:1024px) and (width:768px){
    *{
        font-family: 'Ubuntu', sans-serif;
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #90CBF0;
    }

    header{
        display: flex;
    }


    /*Cabeçaho*/
    #cabecalho {
        

        color: white;
        display: flex;
        flex-direction: column;
        columns: 360px;
        width: 40vw;
        padding: 0 5vw;
        height: 75vh;
    }

    header img{
        margin-right: 15vw;
        width: 50vw;
    }

    #cabecalho h1{
        position: relative;
        top: 20vh;

        font-size: 50px;
        font-weight: bolder;
    }

    #cabecalho p{
        position: relative;
        top: 20vh;

        font-size: 27px;
        margin-top: 20px;
    }


    /*Botões*/

    .button a {
        margin-left: 5vh;
    }

    .button a#estudar{
        margin-left: 10vh;
    }


    .button a img:active{
        position: relative;
        top: 10px;
    }

    .button a img:hover{
        position: relative;
        bottom: 5px;
        cursor: pointer;
    }

    /* Icones */

    .icons{
        display: flex;
        position: absolute;
        right: 6vw;
        bottom: 40px;
    }

    .icons a{
        margin-left: 10px;
    }

    .icons h5{
        color: white;
        font-size: 20px;

    }
}


@media (min-height:1366px) and (width:1024px){
    *{
        font-family: 'Ubuntu', sans-serif;
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #90CBF0;
    }

    header{
        display: flex;
    }


    /*Cabeçaho*/
    #cabecalho {
        

        color: white;
        display: flex;
        flex-direction: column;
        columns: 360px;
        width: 40vw;
        padding: 0 5vw;
        height: 75vh;
    }

    header img{
        margin-right: 0vw;
        width: 50vw;
    }

    #cabecalho h1{
        position: relative;
        top: 20vh;

        font-size: 60px;
        font-weight: bolder;
    }

    #cabecalho p{
        position: relative;
        top: 20vh;

        font-size: 27px;
        margin-top: 20px;
    }


    /*Botões*/

    .button a {
        margin-left: 5vh;
    }

    .button a#estudar{
        margin-left: 10vh;
    }


    .button a img:active{
        position: relative;
        top: 10px;
    }

    .button a img:hover{
        position: relative;
        bottom: 5px;
        cursor: pointer;
    }

    /* Icones */

    .icons{
        display: flex;
        position: absolute;
        right: 6vw;
        bottom: 40px;
    }

    .icons a{
        margin-left: 10px;
    }

    .icons h5{
        color: white;
        font-size: 20px;

    }
}

